.quiz-section {
    .container {
        .row {
            .main {
                padding: 20px;
                background: #3a3a58;
                min-height: 91vh;

                h1 {
                    color: #ffa500;
                    padding-bottom: 20px;
                }

                .box {
                    .que-head {
                        padding-bottom: 20px;

                        h2 {
                            color: #ffffffb8;
                        }
                    }

                    .content {
                        .details {
                            width: 100%;

                            .que {

                                h3 {
                                    color: #ffffffb8;
                                    text-align: start;
                                    padding: 15px;
                                }
                            }

                            .option {
                                ul {
                                    li {
                                        width: 100%;
                                        padding: 15px;
                                        margin: 10px 0px;
                                        background-color: #3a3a58;
                                        display: block;
                                        border-radius: 12px;
                                        color: #ffffffb8;
                                    }
                                }
                            }

                            .ans {
                                h3 {
                                    color: #ffffffb8;
                                }
                            }
                        }

                        .btn {
                            width: 100%;
                            padding-top: 15px;

                            button {
                                background-color: red;
                                border: 0px;
                                padding: 10px 15px;
                                border-radius: 12px;
                                display: inline-block;
                                color: #ffffffb8;
                                font-weight: 600;
                                font-size: 15px;
                                cursor: pointer;
                            }
                        }
                    }

                    .results {
                        padding-bottom: 20px;

                        h2 {
                            color: #ffffffb8;
                        }
                    }
                }
            }
        }
    }
}